
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    --body-font: "Noto Sans", sans-serif;
    --font-primary: "Noto Sans", sans-serif;
    --font-weight-100: 100;
    --font-weight-200: 200;
    --font-weight-300: 300;
    --font-weight-400: 400;
    --font-weight-500: 500;
    --font-weight-600: 600;
    --font-weight-700: 700;
    --font-weight-800: 800;
    --font-weight-900: 900;
    --padding-tb8-lt-16: 8px 16px;
    --logo-color: #BEA364;
    --profile-border-color: #CDA341;
    --input-color: #828282;
    --color-primary: #56441b;
    --color-secondary: #000;
    --text-color: #333333;
    --text-color-999: #999999;
    --color-light: rgba(132, 139, 200, 0.18);
    --font-12: 12px;
    --font-14: 14px;
    --font-16: 16px;
    --font-18: 18px;
    --font-22: 22px;
    --font-24: 24px;
    --font-26: 26px;
    --font-28: 28px;
    --font-36: 36px;
    --font-45: 45px;
    --color-light-navyblue: #1a1c27;
    --color-dark-navyblue: #0F1119;
    --color-white: #ffffff;
    --color-black: #000000;
    --color-gray: #F1F1F1;
    --color-light-blue: #53A9FE;
    --color-dark-blue: #3180D0;
    --color-light-green: #4BCE7B;
    --color-dark-green: #2A9B53;
    --color-light-orange: #EAA63A;
    --color-dark-orange: #C18420;
    --color-light-red: #FF6D6D;
    --color-dark-red: #D13332;
    --card-padding: 1.8rem;
    --card-border-radius: 10px;
    --box-shadow: 0 2rem 3rem var(--color-light);
    --w-70: 70%;
    --w-30: 30%;
    --t-head-bg: #DEC180;
    --t-border-color: #F5E7C9;
  }

  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed, 
  figure, figcaption, footer, header, hgroup, 
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure, 
  footer, header, hgroup, menu, nav, section {
    display: block;
  }
  body {
    line-height: 1;
  }
  ol, ul {
    list-style: none;
  }
  blockquote, q {
    quotes: none;
  }
  blockquote:before, blockquote:after,
  q:before, q:after {
    content: '';
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  h1{
    font-size: 36px;
    font-weight: var(--font-weight-700);
  }
  h2{
    font-size: 24px;
  }
  h3{
    font-size: 21px;
  }
  h4{
    font-size: 18px;
    font-weight: var(--font-weight-600);
  }
  h5{
    font-size: 16px;
    font-weight: var(--font-weight-600);
  }
  h6{
    font-size: 14px;
  }
  .gap-50{
    gap: 50px
  }
  .green{
    color: var(--color-dark-green);
  }
  .font-12{
    font-size: var(--font-12);
  }
  .font-36{
    font-size: var(--font-36);
  }
  .flex{
    display: flex;
  }
  .align-center{
    align-items: center;
  }
  .justify-end{
    justify-content: flex-end;
  }
  .bold-700{
    font-weight: var(--font-weight-700);
  }
  .w-70{
    width: var(--w-70);
  }
  .w-30{
    width: var(--w-30);
  }
  img{
    max-width: 100%;
  }
  .p-30{
    padding: 30px;
  }
  .ptb8-plr-16{
    padding: var(--padding-tb8-lt-16)!important;
  }
  .m-b-10{
    margin-bottom: 10px;
  }

  .card-white{
    background-color: var(--color-white);
    border-radius: var(--card-border-radius);
  }
  .hr{
    border: 1px solid #dedede;
  }
  button{
    cursor: pointer;
    border: none;
    transition: .25s linear;
  }
  button:hover{
    box-shadow: 0px 6px 13px -3px #3180d061;
  }
  .approved-btn, .rejected-btn, .pending-btn, .success-btn{
    background-color: #EEFDF0;
    color: #498C50;
    border: 1px solid #65C06F;
    padding: 5px 11px;
    border-radius: 30px;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: var(--font-weight-500);
  }
  .success-btn, .copy-btn, .save-btn, .approve-btn, .reject-btn,  .cancel-btn, .calculate-btn{
    background-color: #EEFDF0;
    color: #498C50;
    border: 1px solid #65C06F;
    padding: 12px 15px;
    border-radius: 5px;
    font-size: var(--font-14);
    font-weight: var(--font-weight-500);
  }
  .rejected-btn{
    background-color: #FFEEEE;
    color: #DE5555;
    border: 1px solid #DE5555;
  }
  .reject-btn{
    background-color: #DE5555;
    color: var(--color-white);
    border: 1px solid #DE5555;
  }
  .approve-btn{
    background-color: #36A550;
    color: var(--color-white);
    border: 1px solid #36A550; 
  }
  .pending-btn{
    background-color: #FFF7EE;
    color: #EA8832;
    border: 1px solid #EA8832;
  }
  .success-btn{
    background-color: #36A550;
    color: var(--color-white);
    border: 1px solid #36A550;
  }
  .plain-btn{
    background-color: transparent;
    color: #999999;
  }
  .copy-btn{
    background-color: #39BBC2;
    color: var(--color-white);
    border: 1px solid transparent;
  }
  .cancel-btn{
    background-color: #8A8A8A;
    color: var(--color-white);
    border: 1px solid transparent;
  }
  .save-btn{
    background-color: #2082E3;
    color: var(--color-white);
    border: 1px solid transparent;
  }
  .calculate-btn{
    background-color: #F2A129;
    color: var(--color-white);
    border: 1px solid transparent;
  }
  .btn-add{
    background-color: #5774F8;
    color: var(--color-white);
    font-weight: var(--font-weight-500);
    padding: 12px 15px;
    border: 1px solid #5774F8;
    border-radius: 5px;
    font-size: var(--font-14);
    display: inline-block;
  }
  input, select{
    width: 100%;
    border: 1px solid var(--input-color);
    height: 32px;
    border-radius: 10px;
    padding: 8px;
    color: var(--input-color);
  }
  .data-fields input{
    background-color: #F5F5F5;
    border-color: var(--input-color);
  }
  .data-fields select{
    background-color: #FFFCF5!important;
    border-color: #DEC180!important;
  }
  input:focus, select:focus-visible{
    border: 1px solid var(--input-color);
  }
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url("../assets/arrow-down.svg") white no-repeat calc(100% - 10px) !important;
  }
  input[type="date"]::-webkit-calendar-picker-indicator {
    color: var(--input-color);
    opacity: 1;
    display: block;
    background: url(../assets/calendar-icon.svg) no-repeat;
    width: 20px;
    height: 20px;
    border-width:0;

}
  label{
    font-size: 13px;
    font-weight: var(--font-weight-500);
    margin-bottom: 10px;
    display: block;
  }
  .hidden {
    display: none;
  }

  /* width */
::-webkit-scrollbar {
  width: 2px;
}
/* Track */
::-webkit-scrollbar-track {
  background: transparent; 
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: transparent; 
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: transparent; 
}
