
@media (max-width: 375px){
    .insights{
        grid-template-columns: repeat(1, 1fr);
    }
    .filter-dropdown{
        width: 260px!important;
    }
    .filter-dropdown{
        right: -16px!important;
    }
}
@media (max-width: 425px){
    .stats{
        flex-direction: column;
        gap: 15px!important;
        margin-top: 15px!important;
    }
    .stats > div{
        width: 100%;
    }
    .breadcrumb {
        align-items: baseline!important;
    }
    .add-so-pop .pop-content .form-data .data-fields{
        grid-template-columns: repeat(1, 1fr)!important;
        gap: 10px 0!important;
    }
    .insights > div .middle{
        padding: 15px!important;
    }
    .stats .head, .sales-report .head{
        padding: 15px!important;
    }
}
@media (max-width: 576px){
    .profile{
        margin-right: 30px;
    }
    .filter-dropdown{
        width: 300px!important;
    }
    .filter-data .filtercard-data{
        grid-template-columns: repeat(1, 1fr)!important;
    }
}
@media (max-width: 767px){
    .profile h6{
        font-size: 12px!important;
    }
    .profile p{
        font-size: 10px!important;
    }
    .profile .img-box{
        width: 30px!important;
        height: 30px!important;
    }
    .search{
        display: none;
    }
    .so-card .middle .left .tag{
        position: absolute;
        top: 15px;
        right: 38px;
    }
    .calIcon{
        top: 18px!important;
    }
    .success-btn, .copy-btn, .save-btn, .approve-btn, .reject-btn, .cancel-btn, .calculate-btn, .btn-add{
        padding: 8px 10px!important;
        font-size: var(--font-12);
    }
    .add-new-sales-data, .items-list{
        padding: 15px!important;
    }
    .breadcrumb {
        padding: 15px;
    }
    .reject-popup{
        max-width: 75%!important;
    }
    .so-details-head .head-main .approved-btn{
        font-size: var(--font-12)!important;
    }
}

@media (max-width: 992px){
    .timezone{
        display: none;
    }
    .pagination-area{
        flex-direction: column;
    }
    .pagination-area p{
        margin-bottom: 10px;
    }
    .insights > div .middle{
        flex-wrap: wrap;
    }
    .so-card .middle .left{
        width: 65%!important;
    }
    .so-details-head .head-main .approved-btn{
        font-size: var(--font-14)!important;
    }
    .so-details-head{
        grid-template-columns: repeat(1, 1fr)!important;
    }
    .so-details-head div.text-right{
        text-align: left;
    }
}

@media (max-width: 1024px){
    .insights{
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem!;
    }
    .layout .content{
        padding: 15px!important;
    }
    .layout .header{
        padding: 12px 15px!important;
    }
}

@media (min-width: 320px){
    .insights{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
    }
    .sales-report, .insights{
        margin-top: 15px;
    }
     .add-so-pop .pop-content{
        grid-template-columns: repeat(1, 1fr);
        gap: 15px;
    }
    .add-so-pop .head{
        padding: 15px;
    }
    .add-so-pop .pop-content-area{
        padding: 15px;
    }
    .add-new-sales-data .form-data{
        grid-template-columns: repeat(1, 1fr);
        gap: 5px 15px;
    }
    .add-new-sales-data .form-data .data-fields{
        grid-template-columns: repeat(1, 1fr);
    }
} 
@media (min-width: 375px){
    .insights{
        grid-template-columns: repeat(2, 1fr);
    }
    .so{
        grid-template-columns: repeat(1, 1fr);
    }
} 
@media (min-width: 740px){
    .so{
        grid-template-columns: repeat(2, 1fr);
    }
} 
@media (min-width: 749px){
    .layout .header{
        flex-wrap: wrap;
    }
} 

@media (min-width: 768px){
    .insights{
        grid-template-columns: repeat(2, 1fr);
    }
    .add-new-sales-data .form-data{
        grid-template-columns: repeat(2, 1fr);
    }
    .add-so-pop .pop-content{
        grid-template-columns: repeat(2, 1fr);
    }
    .reject-popup{
        max-width: 50%!important;
    }
}
@media (min-width: 1025px){
    .add-so-pop .pop-content{
        grid-template-columns: repeat(2, 1fr);
    }
    .reject-popup{
        max-width: 25%!important;
    }
} 

@media (min-width: 1100px){
    .insights{
        grid-template-columns: repeat(4, 1fr);
        margin-top: 30px;
    }
    .so{
        grid-template-columns: repeat(2, 1fr);
    }
    .add-so-pop .pop-content-area{
        padding: 20px 30px;
    }
    .add-so-pop .pop-content .form-data .data-fields{
        grid-template-columns:repeat(2, 1fr);
        gap: 0;
    }
    .add-new-sales-data .form-data .data-fields{
        grid-template-columns: repeat(2, 1fr);
    }
    .add-so-pop .head{
        padding: 20px 30px;
    }
    #popup, #popupNewCost{
        width: 65%!important;
    }
} 

@media (min-width: 1240px){
    .insights {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;
    }
    .so{
        grid-template-columns: repeat(3, 1fr);
    }
    .add-new-sales-data .form-data{
        grid-template-columns: repeat(3, 1fr);
        gap: 10px 30px;
    }
    .SO-details .form-data{
        grid-template-columns: repeat(2, 1fr);
    }
}


@media (min-width: 577px) and (max-width: 720px){
    .layout .sidebar{
        width: 200px;
        min-width: 200px;
    }
    
} 
@media (min-width: 577px){
    .logo-sm{
        display: none;
    }
}
@media (min-width: 1440px){
    .add-new-sales-data .form-data{
        gap: 10px 100px;
    }
}